*{
  font-family: 'arial';
}
body{
  background-color: #0D7EAB;
}
.contenido{
  width: 80%;
  margin: auto;
}
div{
  border-radius: 10px;
}

.seccion1datos{
  background-color: #3AB099;
  border: 2px solid black;
}
.titulo{
  font-size: 38px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
}
.datosgrid-container{
  display: grid;
  background-color: #7FD3C2;
  grid-template-columns: 35% 35% auto;
}

.datosgrid-container div img{
  margin-top: 20px;
  margin-left: 25%;
  margin-right: 25%;
  align-items: center;
  border-radius: 8px;
}

.seccion2estudios{
  background-color: #3AB099;
  border: 2px solid black;
  margin-top: 10px;
}
.estudios{
  display: grid;
  background-color: #7FD3C2;
  grid-template-columns: 33% 33% 34%;
}

.seccion3explaboral{
  background-color: #3AB099;
  border: 2px solid black;
  margin-top: 10px;
}
.seccion3explaboral div{
  display: grid;
  background-color: #7FD3C2;
}

.seccion4capacitacion{
  background-color: #3AB099;
  border: 2px solid black;
  margin-top: 10px;
}
.seccion4capacitacion div{
  display: grid;
  background-color: #7FD3C2;
}

.seccion5referencias{
  background-color: #3AB099;
  border: 2px solid black;
  margin-top: 10px;
}
.grid-container{
  display: grid;
  background-color: #3AB099;
  grid-template-rows: 33% 33% 33%;
}
.grid-container div{
  background-color: #7FD3C2;
  color: black;
  border: 1px solid white;
}

p, h3{
  margin-left: 5px;
  font-size: 18px;
}
